body {
    font-family: 'Orbitron', sans-serif;
}

.black-bg{
    background-color: black;
    color: white;
}

hr.margin20 {
    margin: 20px;
}

.btn-margin10 {
    margin: 10px;
}

.btn-inline {
    padding: 0px;
    margin-top: 10px;
    margin-left: 19px;
    float: left;
}

li.borderless {
    border: none;
}

.center-title {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 10px;
    z-index: -1;
}

.game-code-box {
    border: 0px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    background-color: #337ab7;
}

.padding-lr20 {
    padding-left: 20px;
    padding-right: 20px;
}
